*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  /* height: 100vh; */
  display: flex;
  color: #883d14;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: bolder;
  margin-bottom: 0.7em;
}
h4 {
  margin-bottom: 0;
}
nav {
  background-color: #fef7e2;
  padding: 1em;
  min-width: 185px;
  position: fixed;
  height: 100vh;
}
ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1em;
}
nav ul li {
  background-color: #ffdf7f;
  padding: 1.5em 2em;
  border-radius: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}
nav ul li:first-of-type {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.5em;
  font-size: 1.5rem;
  padding-block: 0.7em;
}
nav ul li img {
  width: 40px;
}

/*Card section*/
main {
  padding: 1.5em;
  padding-left: 13em;
}
.cards {
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
}
.card {
  width: 20%;
  border-radius: 45px;
  /* border: 2px solid red; */
  overflow: hidden;
  background-color: #fef7e2;
}
.card img {
  width: 100%;
  overflow: hidden;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}
.description-card {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}

.card button {
  border: none;
  background-color: #ffdf7f;
  color: #883d14;
  text-transform: capitalize;
  font-weight: bold;
  padding-block: 0.5em;
  margin-top: 1em;
  border-radius: 25px;
  width: 80%;
}

/*NEWS*/
.news {
  display: flex;
  padding: 1.5em;
  background-color: #fef7e2;
  border-radius: 25px;
  gap: 1em;
}
@media (max-width: 1200px) {
  .cards .card:nth-of-type(5) {
    display: none;
    z-index: -1;
  }
  .cards > .card {
    width: 25%;
  }
  .news {
    flex-direction: column-reverse;
  }
}

@media (max-width: 1000px) {
  .cards .card:nth-of-type(4) {
    display: none;
    z-index: -1;
  }
  .cards > .card {
    width: 33.333%;
  }
  .news img {
    width: 100%;
  }
}

@media (max-width: 820px) {
  body {
    display: block;
    /* position: unset; */
    height: auto;
  }
  main {
    padding-left: 1.5em;
  }
  nav {
    position: relative;
    height: auto;
  }
  nav ul {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-inline: 2em; */
    padding: 0;
    width: 20%;
    padding-block: 1em;
  }
  nav ul li:nth-of-type(1) {
    order: 3;
    /* padding: 1.5em; */
  }
  nav ul li:nth-of-type(2) {
    order: 1;
  }
  nav ul li:nth-of-type(3) {
    order: 2;
  }
  nav ul li:nth-of-type(4) {
    order: 4;
  }
  nav ul li:nth-of-type(5) {
    order: 5;
  }
  /*CARDS*/
  .cards {
    flex-wrap: wrap;
  }
  .cards .card:nth-of-type(4) {
    z-index: 0;
    display: block;
  }
  .cards .card {
    width: 48%;
  }
}

@media (max-width: 630px) {
  body {
    padding: 1em;
  }
  nav {
    border-radius: 25px;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  nav ul li {
    width: 45%;
  }

  nav ul li:nth-of-type(1) {
    order: 0;
    width: 80%;
    justify-content: center;
  }

  .cards {
    justify-content: center;
  }
  .cards .card:nth-of-type(5) {
    z-index: 0;
    display: block;
  }
  .cards .card {
    width: 80%;
  }
}
